GOOGLE_SERVICE_ACCOUNT_JSON=
RIJKSMUSEUM_API_KEY=
SMITHSONIAN_API_KEY=
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=ekphrasis-artworks
CLIP_EMBEDDING_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
RATE_LIMIT_HMAC_SECRET=
